<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login-page.css" th:href="@{/login-page.css}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="../static/login-page.js" th:src="@{/login-page.js}"></script>
    <script>
        $(document).ready(function (){
            $("#joinBtnId").click(function(){
                location.href="/member/join";
            });
        })
    </script>
</head>

<body>
<main id="main-holder">
    <h1 id="login-header">Login</h1>
    <div id="login-error-msg-holder">
        <p id="login-error-msg">Invalid loginId <span id="error-msg-second-line">and/or password</span></p>
    </div>
    <form th:action="@{/login}" th:method="post" id="login-form">
        <input type="text" name="loginId" id="loginId-field" class="login-form-field" placeholder="loginId">
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
        <input type="hidden" id="loginTry" th:value="${loginTry}"/>
        <input type="submit" value="Login" id="login-form-submit">
    </form>
    <button type="button" class="joinBtn" id="joinBtnId">회원가입</button>
</main>
</body>
</html>