<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/main.css}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="../static/common.js" th:src="@{/common.js}"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function(){
            var temp = $(".mainWindow").html();
            //qna 추가
            $(".plusStdBtn").click(function(){
                //alert(this.id+"plus!");
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"plus");
            })
            //qna 제거
            $(".minusStdBtn").click(function(){
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"minus");
            })

            //강의이동
            $(".lectureTd").click(function(){
                var lectureName = this.id.split("_")[0];
                location.href="/qnamain/"+lectureName;
            })

            //강의추가
            $("#addLecture").click(function(){
                $("#addLecture").html("<th><input type='text' id='newLectureName' placeholder='새 강의명'> </th>");//html변경

                $("#addLecture").attr("id","newLectureThead");//thead 아이디 변경

                $("#newLectureName").focus();//focus주기
            })

            $(document).on("blur","#newLectureName",function(){
                newLectureName = $("#newLectureName").val()
                location.href = "/qnamain/addLecture/"+newLectureName;
            })
            $(document).on("click","#regiStudents",function(){
                $(".mainWindow").html("<form action='/qnamain/regiStdLst' method='post'>" +
                    "<textarea name='stdList' id='stdListTextArea' placeholder='엔터키로 구분하여 입력\n홍길동\n김철수'></textarea>" +
                    "<input type='hidden' name='nowLecture' value='[[ ${nowLecture} ]]'> " +
                    "<input type='submit' value='등록하기'/> </form>");
            })
            $(document).on("click","#studentsList",function(){
                location.href="/qnamain/[[ ${nowLecture} ]]"
            })
            $("#pickFit").click(function(){
                pickAjax("[[ ${nowLecture} ]]","fit");
            })
            $("#pickRandom").click(function(){
                pickAjax("[[ ${nowLecture} ]]","random");
            })
        })
        function qnaTimeAjax(studentIdx,mode){
            var data = {"studentIdx":studentIdx,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnaTimesAjax",
                data: data,
                success:function (result){
                    console.log(result);
                    $("#stdInfo"+studentIdx).text(result.name+"("+result.qnaTimes+"회)");
                    $("#qnaTime_"+studentIdx).text(result.lastQnaDate);
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        //qna학생 픽
        function pickAjax(lectureName,mode){
            var data = {"lectureName":lectureName,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnamain/pick",
                data: data,
                success:function (result){
                    console.log(result);
                    alert(result.name);
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }

        /*]]>*/
    </script>
    <script language="Javascript">

        <!--

        function setCookie( name, value, expiredays ) {

            var todayDate = new Date();

            todayDate.setDate( todayDate.getDate() + expiredays );

            document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"

        }

        function closeWin() {

            if ( document.notice_form.chkbox.checked ){

                setCookie( "maindiv", "done" , 1 );

            }

            document.all['divpop'].style.visibility = "hidden";

        }

        //-->

    </script>
</head>
<body>
<!-- POPUP 내용 -->

<div id="divpop" style="position:absolute;left:395px;top:190px;z-index:200;visibility:hidden;">

    <table width=300 height=400 cellpadding=2 cellspacing=0>

        <tr>

            <td>

                <img src="삽입할 이미지.jpg">

                여기에 내용 삽입

            </td>

        </tr>

        <tr>

            <form name="notice_form">

                <td align=right bgcolor=white>

                    <input type="checkbox" name="chkbox" value="checkbox">오늘 하루 이 창을 열지 않음

                    <a href="javascript:closeWin();"><B>[닫기]</B></a>

                </td>

        </tr>

        </form>

    </table>

</div>

<script language="Javascript">

    cookiedata = document.cookie;

    if ( cookiedata.indexOf("maindiv=done") < 0 ){

        document.all['divpop'].style.visibility = "visible";

    }

    else {

        document.all['divpop'].style.visibility = "hidden";

    }

</script>
<div class="header">
    <h1>My Website</h1>
    <p>Resize the browser window to see the effect.</p>
</div>

<div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="/logout" style="float:right">Logout</a>
</div>

<div class="row">
    <div class="rightcolumn">
        <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>


            <table class="lecture">
                <thead th:each="lecture:${lectureList}"><th th:class="lectureTd" th:id="|${lecture.name}_${session.loginMember}|" th:text="${lecture.name}">수업1</th></thead>
                <thead id="addLecture"><th>+</th></thead>
            </table>
        </div>

    </div>
    <div class="leftcolumn">
        <div class="card">
            <h3 th:text="${nowLecture}">Popular Post</h3>
            <button type="button" id="pickRandom">랜덤선택</button>
            <button type="button" id="pickFit">최적선택</button>
            <button type="button" id="studentsList">학생목록</button>
            <button type="button" id="regiStudents">학생등록</button>

            <div class="mainWindow">
                <table class="rankTbl">
                    <tr class="rankTblTr" th:each="studentList:${studentListArr}">
                        <td class="rankTblTd1" th:each="student:${studentList}">
                            <span th:if="${student.name!=null}" class="name" th:id="|stdInfo${student.idx}|" th:text="|${student.name}(${student.qnaTimes}회)|">김철수(5회)</span>
                            <input th:if="${student.name!=null}" th:id="|plusStdBtn_${student.idx}|" th:class="plusStdBtn" type="button"  value="+">
                            <input th:if="${student.name!=null}" th:id="|minusStdBtn_${student.idx}|" th:class="minusStdBtn" type="button" value="-">

                            <div class="qnaTime"> <span th:id="|qnaTime_${student.idx}|" th:text="${#dates.format(student.lastQnaDate, 'yyyy-MM-dd')}"></span></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>
</html>