<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="../static/common.js" th:src="@{/common.js}"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function(){
            var temp = $(".mainWindow").html();
            //qna 추가
            $(".plusStdBtn").click(function(){
                //alert(this.id+"plus!");
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"plus");
            })
            //qna 제거
            $(".minusStdBtn").click(function(){
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"minus");
            })

            //2022-06-12 삭제버튼 항상 보이게 정책 변경하여 주석처리
            // //삭제버튼 보이기
            // $(".rankTblTd1").mouseover(function(){
            //     var studentName = this.id.split("_")[1];
            //     $('#stdDelBtn_'+studentName).removeClass("noShowBtn");
            // })
            // //삭제버튼 안보이기
            // $(".rankTblTd1").mouseout(function(){
            //     var studentName = this.id.split("_")[1];
            //     $('#stdDelBtn_'+studentName).addClass("noShowBtn");
            // })

            //강의이동
            $(".lectureTd").click(function(){
                var lectureName = this.id.split("_")[0];
                location.href="/qnamain/"+lectureName;
            })

            //강의추가
            $("#addLecture").click(function(){
                $("#addLecture").html("<th colspan='2'><input type='text' id='newLectureName' placeholder='새 강의명'> </th>");//html변경

                $("#addLecture").attr("id","newLectureThead");//thead 아이디 변경

                $("#newLectureName").focus();//focus주기
            })

            //강의 추가 - 포커스 잃으면 등록
            $(document).on("blur","#newLectureName",function(){
                newLectureName = $("#newLectureName").val()
                location.href = "/qnamain/addLecture/"+newLectureName;
            })

            //학생추가
            $(document).on("click","#regiStudents",function(){
                $(".mainWindow").html("<form action='/qnamain/regiStdLst' method='post'>" +
                    "<textarea name='stdList' id='stdListTextArea' placeholder='스페이스로 구분하여 입력(엔터 사용 x)\nex)홍길동 김철수'></textarea>" +
                    "<input type='hidden' name='nowLecture' value='[[ ${nowLecture} ]]'> " +
                    "<input type='submit' value='등록하기'/> </form>");
            })

            //학생목록 출력
            $(document).on("click","#studentsList",function(){
                location.href="/qnamain/[[ ${nowLecture} ]]";
            })

            //최적적합
            $("#pickFit").click(function(){
                if(idExist("reqAddStd")){
                    alert("먼저 학생등록을 해주세요");
                    return;
                }
                pickAjax("[[ ${nowLecture} ]]","fit");
            })
            //랜덤적합
            $("#pickRandom").click(function(){
                if(idExist("reqAddStd")){
                    alert("먼저 학생등록을 해주세요");
                    return;
                }
                pickAjax("[[ ${nowLecture} ]]","random");
            })

            //학생삭제
            $(".stdDelBtn").click(function(){
                var stdId = this.id.split("_")[1];
                var nowLecture = "[[ ${nowLecture} ]]";
                var delConfirm = confirm("["+nowLecture+"] 강의에서 ["+stdId+"] 학생을 삭제하시겠습니까?");
                if (delConfirm){
                    location.href="/qnamain/delstudent/"+nowLecture+"/"+stdId;
                }
            })

            //강의삭제
            $(document).on("click",".delLc",function(){
                var elementId = this.id.split("_");
                var removeLectureName = elementId[1];
                //var professor = elementId[2];
                var nowLecture = "[[ ${nowLecture} ]]";
                var delConfirm = confirm("["+removeLectureName+"] 강의를 삭제하시겠습니까?");
                if(delConfirm){
                    location.href="/qnamain/del_lecture/"+removeLectureName+"/"+nowLecture;
                }
            })


        })
        //id=elementId인 요소 체크
        function idExist(elementId){
            var result = document.getElementById(elementId) ? true:false;
            return result;
        }
        function qnaTimeAjax(studentIdx,mode){
            var data = {"studentIdx":studentIdx,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnaTimesAjax",
                data: data,
                success:function (result){
                    console.log(result);
                    $("#stdInfo"+studentIdx).text(result.name+"("+result.qnaTimes+"회)");
                    $("#qnaTime_"+studentIdx).text(result.lastQnaDate);
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        //qna학생 픽
        function pickAjax(lectureName,mode){
            var data = {"lectureName":lectureName,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnamain/pick",
                data: data,
                success:function (result){
                    console.log(result);
                    alert(result.name+"당첨!");
                    $(".pickedStd").removeClass("pickedStd");
                    $("#stdTd_"+result.name).addClass("pickedStd");
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        /*]]>*/
    </script>
</head>
<body>

<div class="header">
    <h1>My Website</h1>
    <p>Resize the browser window to see the effect.</p>
</div>

<div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="/logout" style="float:right">Logout</a>
</div>

<div class="row">
    <div class="rightcolumn">
        <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>


            <table class="lecture">
                <thead th:each="lecture:${lectureList}">
                    <th th:class="lectureTd" th:id="|${lecture.name}_${session.loginMember}|" th:text="${lecture.name}">수업1</th>
                    <th th:id="|del_${lecture.name}_${session.loginMember}|" class="delLc"><div th:class="td-img-wrapper"><img class="del-lc-img" th:src="@{/image/trash.png}"/></div></th>
                </thead>
                <thead id="addLecture"><th colspan="2">+</th></thead>
            </table>
        </div>

    </div>
    <div class="leftcolumn">
        <div class="card">
            <h3 th:text="${nowLecture}">Popular Post</h3>
            <button type="button" id="pickRandom">랜덤선택</button>
            <button type="button" id="pickFit">최적선택</button>
            <button type="button" id="studentsList">학생목록</button>
            <button type="button" id="regiStudents">학생등록</button>


            <div class="mainWindow">
                <table class="rankTbl">
                    <tr class="rankTblTr" th:if="${studentListArr}==null">
                        <td class="rankTblTd1" id="reqAddStd">학생등록을 눌러 수업에 학생을 추가해주세요</td>
                    </tr>
                    <tr class="rankTblTr" th:unless="${studentListArr}==null" th:each="studentList:${studentListArr}">
                        <td class="rankTblTd1" th:each="student:${studentList}" th:id="|stdTd_${student.name}|">
                            <div class="tdLeft">
                                <span th:if="${student.name!=null}" class="name" th:id="|stdInfo${student.idx}|" th:text="|${student.name}(${student.qnaTimes}회)|">김철수(5회)</span>
                                <input th:if="${student.name!=null}" th:id="|plusStdBtn_${student.idx}|" th:class="plusStdBtn" type="button"  value="+">
                                <input th:if="${student.name!=null}" th:id="|minusStdBtn_${student.idx}|" th:class="minusStdBtn" type="button" value="-">
                                <div class="qnaTime">
                                    <span th:id="|qnaTime_${student.idx}|" th:text="${#dates.format(student.lastQnaDate, 'yyyy-MM-dd')}"></span>
                                    <span th:if="${student.name!=null}" class="stdDelBtn " th:id="|stdDelBtn_${student.name}|">삭제</span>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>

</body>
</html>