<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script defer src="../static/common.js" th:src="@{/common.js}"></script>
    <script>
        /*<![CDATA[*/
        $(document).ready(function(){
            $(".beforeDev").click(function(){
                alert("설정된 기능이 없는 요소입니다");
            })
            $(".lCListTitle").text("Lectures");
            var today = getToday();
            $(".today").text(today);

            if("[[ ${addLcFail} ]]"=="true"){
                alert("중복강의명입니다: [[ ${failLcName} ]]");
            }
            var temp = $(".mainWindow").html();
            //qna 추가
            $(".plusStdBtn").click(function(){
                //alert(this.id+"plus!");
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"plus");
            })
            //qna 제거
            $(".minusStdBtn").click(function(){
                var idx = this.id.split("_")[1]
                qnaTimeAjax(idx,"minus");
            })

            //2022-06-12 삭제버튼 항상 보이게 정책 변경하여 주석처리
            // //삭제버튼 보이기
            // $(".rankTblTd1").mouseover(function(){
            //     var studentName = this.id.split("_")[1];
            //     $('#stdDelBtn_'+studentName).removeClass("noShowBtn");
            // })
            // //삭제버튼 안보이기
            // $(".rankTblTd1").mouseout(function(){
            //     var studentName = this.id.split("_")[1];
            //     $('#stdDelBtn_'+studentName).addClass("noShowBtn");
            // })

            //강의이동
            $(".lectureTd").click(function(){
                var lectureName = this.id.split("_")[0];
                location.href="/qnamain/"+lectureName;
            })

            //강의추가
            $("#addLecture").click(function(){
                $("#addLecture").html("<th colspan='2'><input type='text' id='newLectureName' placeholder='새 강의명'> </th>");//html변경

                $("#addLecture").attr("id","newLectureThead");//thead 아이디 변경

                $("#newLectureName").focus();//focus주기
            })

            //강의 추가 - 포커스 잃으면 등록
            $(document).on("blur","#newLectureName",function(){
                newLectureName = $("#newLectureName").val()
                location.href = "/qnamain/addLecture/"+newLectureName;
            })

            //학생추가폼생성
            $(document).on("click","#regiStudents",function(){
                var existStd = document.getElementsByClassName("rankTblTd1");
                $(".mainWindow").html("<form action='/qnamain/regiStdLst' id='regiStdFrm' method='post'>" +
                    "<textarea name='stdList' id='stdListTextArea' placeholder='아래 예시와 같이 엔터로 구분하여 입력해 주세요 :)\n홍길동 \n김철수'></textarea>" +
                    "<input type='hidden' name='nowLecture' value='[[ ${nowLecture} ]]'> " +
                    "<input type='button' id='existCheck' value='중복확인'/> " +
                    "<input type='button' id='regiStdBtn' value='등록하기'/> " +
                    "<input type='hidden' id='doFirst' value='false'/> </form>");
                //$("#regiStdFrm").append("<input type='hidden' value='ffff'/>")
            })
            //중복확인버튼클릭이벤트
            $(document).on("click","#existCheck",function(){
                var stdValid = checkValidStd();
                if(stdValid!="stdValidIsOK"){
                    return;
                }
                checkStd();
            });

            //doFirst 내용 변경시
            $(document).on("propertychange change keyup paste input","#stdListTextArea",function(){
                $("#doFirst").val("false");
            })

            //학생추가 submit validation
            $(document).on("click","#regiStdBtn",function(){
                if($("#doFirst").val()=='false'){
                    alert("먼저 중복확인을 해주세요");
                    return
                }
                $("#doFirst").val("false");
                var stdList = $("#stdListTextArea").val().split('\n');//신규입력목록


                console.log(stdList+">>>");

                // for(var i=0;i<stdList.length;i++){
                //     var alreadyExist = checkStd(stdList[i]);
                //     if(stdList[i] ==''){
                //         //alert("불필요한 공백이 존재합니다\n스페이스 연속 2회 이상 입력, 공백시작, 공백종료 여부를 확인해주세요");
                //         //공백 제거
                //         stdList.splice(i,1);
                //         i--;
                //         console.log(stdList+"<<<");
                //     }else if(stdList[i].includes("\n")){
                //         alert("줄바꿈(Enter키 입력)을 제거해주세요");
                //         return;
                //     }else if($("#existStdCheck").val()=='true'){
                //         alert("이미 있는 학생이름입니다["+stdList[i]+"]");
                //         $("#existStdCheck").val('false');
                //         return;
                //     }else if(stdNameValid1(stdList[i])){
                //         alert("이름에 공백이 포함될 수 없습니다["+stdList[i]+"]");
                //         return;
                //     }else if(stdNameValid2(stdList[i])){
                //         alert("이름에 특수문자가 포함될 수 없습니다["+stdList[i]+"]");
                //         return;
                //     }
                //     for(var j=0;j<stdList.length;j++){
                //         if(i==j){
                //             continue;
                //         }else{
                //             if(stdList[i]==stdList[j]){
                //                 alert("중복 이름은 등록할 수 없습니다:["+stdList[i]+"]");
                //                 return;
                //             }
                //         }
                //     }
                // }

                //var stdTextAreaVal = $('#stdListTextArea').val().split('\n');
                var stdTextAreaVal = stdList;
                $("#regiStdFrm").append("<input type='hidden' name='studentArr' value='"+stdTextAreaVal+"' />");
                //$("#regiStdFrm").setAttribute("stdToArr",$("#stdListTextArea").val().split('\n'));
                $("#regiStdFrm").submit();
            })

            //학생목록 출력
            $(document).on("click","#studentsList",function(){
                location.href="/qnamain/[[ ${nowLecture} ]]";
            })

            //최적적합
            $("#pickFit").click(function(){
                if(idExist("reqAddStd")){
                    alert("먼저 학생등록을 해주세요");
                    return;
                }
                pickAjax("[[ ${nowLecture} ]]","fit");
            })
            //랜덤적합
            $("#pickRandom").click(function(){
                if(idExist("reqAddStd")){
                    alert("먼저 학생등록을 해주세요");
                    return;
                }
                pickAjax("[[ ${nowLecture} ]]","random");
            })

            //학생삭제
            $(".stdDelBtn").click(function(){
                var stdId = this.id.split("_")[1];
                var nowLecture = "[[ ${nowLecture} ]]";
                var delConfirm = confirm("["+nowLecture+"] 강의에서 ["+stdId+"] 학생을 삭제하시겠습니까?");
                if (delConfirm){
                    location.href="/qnamain/delstudent/"+nowLecture+"/"+stdId;
                }
            })

            //강의삭제
            $(document).on("click",".delLc",function(){
                var elementId = this.id.split("_");
                var removeLectureName = elementId[1];
                //var professor = elementId[2];
                var nowLecture = "[[ ${nowLecture} ]]";
                var delConfirm = confirm("["+removeLectureName+"] 강의를 삭제하시겠습니까?");
                if(delConfirm){
                    location.href="/qnamain/del_lecture/"+removeLectureName+"/"+nowLecture;
                }
            })

            $("#[[ ${nowLecture} ]]"+"_"+"[[ ${session.loginMember}]]").addClass("selectedLc");
            $("#[[ ${nowLecture} ]]"+"_"+"[[ ${session.loginMember}]]").removeClass("hoverColorTd");


        })
        function checkValidStd(){
            var stdList = $("#stdListTextArea").val().split('\n');//신규입력목록


            console.log(stdList+">>>");

            for(var i=0;i<stdList.length;i++){
                //var alreadyExist = checkStd(stdList[i]);
                if(stdList[i] ==''){
                    //alert("불필요한 공백이 존재합니다\n스페이스 연속 2회 이상 입력, 공백시작, 공백종료 여부를 확인해주세요");
                    //공백 제거
                    stdList.splice(i,1);
                    i--;
                    console.log(stdList+"<<<");
                }else if(stdList[i].includes("\n")){
                    alert("줄바꿈(Enter키 입력)을 제거해주세요");
                    return;
                }else if($("#existStdCheck").val()=='true'){
                    alert("이미 있는 학생이름입니다["+stdList[i]+"]");
                    $("#existStdCheck").val('false');
                    return;
                }else if(stdNameValid1(stdList[i])){
                    alert("이름에 공백이 포함될 수 없습니다["+stdList[i]+"]");
                    return;
                }else if(stdNameValid2(stdList[i])){
                    alert("이름에 특수문자가 포함될 수 없습니다["+stdList[i]+"]\n또는 맨 앞이나 맨 뒤에 공백이 있지 않나 확인해주세요");
                    return;
                }
                for(var j=0;j<stdList.length;j++){
                    if(i==j){
                        continue;
                    }else{
                        if(stdList[i]==stdList[j]){
                            alert("중복 이름은 등록할 수 없습니다:["+stdList[i]+"]");
                            return;
                        }
                    }
                }
            }
            return "stdValidIsOK";
        }
        function getToday(){
            var date = new Date();
            var today = date.getFullYear() + "-" + ("0"+(date.getMonth()+1)).slice(-2) + "-" + ("0"+date.getDate()).slice(-2);
            return today;
        }
        //id=elementId인 요소 체크
        function idExist(elementId){
            var result = document.getElementById(elementId) ? true:false;
            return result;
        }
        function qnaTimeAjax(studentIdx,mode){
            var data = {"studentIdx":studentIdx,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnaTimesAjax",
                data: data,
                success:function (result){
                    console.log(result);
                    $("#stdInfo"+studentIdx).text(result.name+"("+result.qnaTimes+"회)");
                    $("#qnaTime_"+studentIdx).text(result.lastQnaDate);
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        //qna학생 픽
        function pickAjax(lectureName,mode){
            var data = {"lectureName":lectureName,"mode":mode}
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/qnamain/pick",
                data: data,
                success:function (result){
                    console.log(result);
                    alert(result.name+"당첨!");
                    $(".pickedStd").removeClass("pickedStd");

                    $("#stdTd_"+result.name).addClass("pickedStd");
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        //학생중복확인
        function checkStd(){
            var stdTextAreaVal = $('#stdListTextArea').val().split('\n')
            $("#regiStdFrm").append("<input type='hidden' id='checkExist' name='studentArr' value='"+stdTextAreaVal+"' />");
            var stdNames = $('#checkExist').val();
            //var data = {"studentNames":stdNames,"lectureName":"[[ ${nowLecture} ]]"};
            var data = {"studentNames":stdNames,"lectureName":"[[ ${nowLecture} ]]"};
            console.log(stdNames);
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/check/sameStd",
                data: data,
                success:function (result){
                    var exist = result.exist;
                    console.log(exist);
                    //alert(exist);
                    if (exist=='true'){
                        alert("해당 강의에 이미 존재하는 이름입니다:"+result.existStdName);
                    }
                    else{
                        alert("중복없음");
                        $("#doFirst").val("true");
                    }
                },
                error:function(data,textStatus){
                    alert("에러가 발생했습니다.");
                    console.log(data);
                    console.log(textStatus);
                },
                complete:function(data,textStatus){
                    $('#checkExist').remove();
                    //console.log(result.name+"의 수정 완료");
                }
            });
        }
        // //공백포함여부(false여야함)
        // function stdNameValid1(stdName){
        //     if(stdName.search(/\s/) != -1) {
        //         return true;
        //     } else {
        //         return false;
        //     }
        // }
        // //특문포함여부(false여야함)
        // function stdNameValid2(stdName){
        //     var special_pattern = /[(),{}`~!@#$%^&*|\\\'\";:\/?]/gi;
        //
        //     if(special_pattern.test(stdName) == true) {
        //         return true;
        //     } else {
        //         return false;
        //     }
        // }
        /*]]>*/
    </script>
</head>
<body>

<div class="header">
    <h1 th:text="${pageTitle}">My Website</h1>
    <p th:text="${pageSubTitle}">■■■■■ ■■■ ■■■■■■■ ■■■■■■ ■■ ■■■ ■■■ ■■■■■■■</p>
</div>

<div class="topnav">
    <a th:href="@{|/mypage/main/${session.loginMember}|}">SETTING</a>
    <a href="#" class="beforeDev">Link</a>
    <a href="#" class="beforeDev">Link</a>
    <a href="/logout" style="float:right">Logout</a>
</div>

<div class="row">
    <div class="rightcolumn">
        <div class="card">
            <h2 class="lCListTitle">TITLE HEADING</h2>
            <h5 class="today">Title description, Dec 7, 2017</h5>


            <table class="lecture">
                <thead th:each="lecture:${lectureList}" class="lectureThead">
                    <th th:class="lectureTd" th:classappend="hoverColorTd" th:id="|${lecture.name}_${session.loginMember}|" th:text="${lecture.name}">수업1</th>
                    <th th:id="|del_${lecture.name}_${session.loginMember}|" class="delLc"><div th:class="td-img-wrapper"><img class="del-lc-img" th:src="@{/image/trash.png}"/></div></th>
                </thead>
                <thead id="addLecture"><th colspan="2">+</th></thead>
            </table>
        </div>

    </div>
    <div class="leftcolumn">
        <div class="card">
            <h1 th:text="${nowLecture}">Popular Post</h1>
            <button type="button" id="pickRandom">랜덤선택</button>
            <button type="button" id="pickFit">최적선택</button>
            <button type="button" id="studentsList">학생목록</button>
            <button type="button" id="regiStudents">학생등록</button>


            <div class="mainWindow">
                <table class="rankTbl">
                    <tr class="rankTblTr" th:if="${studentListArr}==null">
                        <td class="rankTblTd1" id="reqAddStd">학생등록을 눌러 수업에 학생을 추가해주세요</td>
                    </tr>
                    <tr class="rankTblTr" th:unless="${studentListArr}==null" th:each="studentList:${studentListArr}">
                        <td class="rankTblTd1" th:each="student:${studentList}" th:id="|stdTd_${student.name}|">
                            <div class="tdLeft">
                                <span th:if="${student.name!=null}" class="name" th:id="|stdInfo${student.idx}|" th:text="|${student.name}(${student.qnaTimes}회)|">김철수(5회)</span>
                                <div class="plmaBtn-wrapper">
                                    <input th:if="${student.name!=null}" th:id="|plusStdBtn_${student.idx}|" th:class="plusStdBtn" th:classappend="plmaBtn" type="button"  value="+">
                                    <input th:if="${student.name!=null}" th:id="|minusStdBtn_${student.idx}|" th:class="minusStdBtn" th:classappend="plmaBtn" type="button" value="-">
                                </div>
                                <div class="qnaTime">
                                    <span th:id="|qnaTime_${student.idx}|" th:text="${#dates.format(student.lastQnaDate, 'yyyy-MM-dd')}"></span>
                                    <span th:if="${student.name!=null}" class="stdDelBtn " th:id="|stdDelBtn_${student.name}|">삭제</span>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <h2 th:text="${pageFooterMsg}">■■■■ ■■■■■■ ■■■■■■■■</h2>
</div>
<input type="hidden" id="addLcFail"/>
</body>
</html>